.progress { width: 100%; border: 1px solid #000; height: 20px; }
.bar { background: blue; line-height:130%; }

.modal { width: 800px;  }

.modal-body {
    max-height: 800px;
}


#editconfModal {

}


#taskModal {
    width: 800px; /* SET THE WIDTH OF THE MODAL */
    height: 600px; 
    margin: 0 0 0 -400px; /* CHANGE MARGINS TO ACCOMODATE THE NEW WIDTH (original = margin: -250px 0 0 -280px;) */
}



.CodeMirror {
    background:#fff;
    height: auto;
    width: 550px;
}

.CodeMirror pre { 
    line-height: inherit; 
    color: inherit; 
} 

a.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
}



<style type="text/css">
   .pager {
      padding-top: 20px;
      padding-left: 40px;
      }
   .pager .page a {
      border: 3px solid #bbbbbb;
      margin-left: 1px;
      margin-right: 1px;
      padding-left: 4px;
      padding-right: 4px;
      text-decoration: none;
      color: #000000;
      }
   .pager .current {
      border: 3px solid #444444;
      margin-left: 2px;
      margin-right: 2px;
      padding-left: 2px;
      }
</style>