{% extends "base.html" %}
{% block body%}
{% load daretags%}

<a class="btn btn-large btn-success" href="/job/bigjob/"> Create New Launch</a>
<h3>Existing Launches </h3>
<table class='table table-hover well'>
    <tr>
        <th style="width: 10%" >ID</th>
        <th style="width: 10%" >Name</th>
        <th style="width: 10%" >Status</th>
        <th style="width: 12%" >Last Modified 
            <span class="css_right ui-icon ui-icon-triangle-1-s"></span>


        </th>
        <th style="width: 38%" >Actions</th>
    </tr>
    {% for job in jobs %}
        <tr>  
        <td > {{ job.id}}  </td>
        <td><span style="text-transform: uppercase"> {{ job.title}} </span> </td>
        <td>  {{ job.get_status }}</td>
        <td width="10%" > <p class="text-info" > <small>{{job.modified|timesince_human}} </small></p></td>
        <td width="25%">
            <a class='btn btn-success' href='/job/bigjob/?job_id={{job.id}}' > View </a>
            <a class='btn btn-danger' href='/job/bigjob/?job_id={{job.id}}&del=true'> Delete </a>
            <a class='btn btn-success' href=''> Download Output </a>
        </td>
        </tr>
    {% endfor %}
</table>

<div class="pagination">
    <span class="step-links">
        {% if jobs.has_previous %}
            <a href="?page={{ jobs.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ jobs.number }} of {{ jobs.paginator.num_pages }}.
        </span>

        {% if jobs.has_next %}
            <a href="?page={{ jobs.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>


{% endblock%}