{% extends "base.html" %}
 
{% block heading %}User basic form{% endblock %}
 
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <p>{% if error%} {{error}} {%endif%}</p>
 
    <p>
        <label for="id_username">username</label>
        <input type="text" name="username" id="id_username" value="" />
    </p>
 
    <input type="submit" value="Send" />
</form>
{% endblock %}
 
 
#templates.socialauth.form2.html
 
{% extends "base.html" %}
 
{% block heading %}Email Form{% endblock %}
 
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <p>
        <label for="id_email">Email Address</label>
        <input type="text" name="email_address" id="id_email" value="" />
    </p>
 
    <input type="submit" value="Send" />
</form>
{% endblock %}
