{% extends "base.html" %}

{% block body%}
    <H2 align="justify"><br />
      <font color='#00007A'> DARE-BIGJOB </font> <br />
      <span class="twoColHybRtHdr">
      </H2>
    <p class="lead">This is a prototype of DARE-Gateway which supports uniform task submission to XSEDE and OSG.
    Currently, DARE-Gateway uses SAGA-BigJob to submit tasks to XSEDE resources, and submits tasks to OSG via
    SAGA (SAGA-Condor). DARE-Gateway is built upon Distributed Application Runtime-Environment (DARE) Framework -- by providing
    suitable Web-interfaces and hooks to the primary DARE functionality.</p>
    <p class="lead">
    At the moment, there are no general-purpose community accounts, and it requires registrations contacting us before using services. For more information, contact us. For information about SAGA and SAGA-Bigjob, please visit this
    <a href="http://saga-project.org/">Link</a></font>
    </p>
    
    <p><br class="clearfloat" />
    </p>
{% if not request.user.is_authenticated %}
    <a class="btn btn-large btn-success" href="/invite/request/">Sign up today</a>
{% endif %}
{% endblock%}
 
