{% extends "base.html" %}

{% block body%}


        <div class="login-form">
                    <h2>Login</h2>
    <form action="/log-in/" method="post">
                    <form action="">
        {% csrf_token %}

        {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
                        <fieldset>
                            <div class="clearfix">
                                <input type="text" name="username" value="{{ username}}" placeholder="Username">
                            </div>
                            <div class="clearfix">
                                <input type="password" name="password"  type="password" placeholder="Password">
                            </div>
                            <button class="btn primary" type="submit">Sign in</button>
                        </fieldset>
                    </form>
                </div>


{% endblock %}

 
