{% extends "base.html" %}

{% block body%}
<ul class="breadcrumb">  
  <li>  
    <a href="#">Job</a> <span class="divider">></span>  
  </li>  
  <li>  
    <a href="#">Pilots</a> <span class="divider">></span>  
  </li>  

  <li class="active"> Tasks </li>  
</ul>   

<div class='row'>
  <div class='span11'>
    <div class='row'>
      <div class='span7'>
      <form action="" method="post" enctype="multipart/form-data" class="well form-horizontal">
          {% csrf_token %}
          
              <fieldset>
                <legend>Task-set 1</legend>
                <div class="control-group">  
                  <label class="control-label" for="select01"> Select Tasks</label>  
                  <div class="controls">  
                    <select id="select01">  
                      {% for task in tasks %}
                        <option>{{task}}</option>  
                      {% endfor %}
                    </select>  
                  </div>  
                </div> 

                <div class="control-group">  
                  <label class="control-label" for="select01">Pilot</label>  
                  <div class="controls">  
                    <select id="select01">  
                      <option>Any</option>  
                      <option>Ranger</option>  
                      <option>Lonestar</option>  
                    </select>  
                  </div>  
                </div> 

                <div class="control-group">  
                  <label class="control-label" for="textarea">Num. Of Tasks</label>  
                  <div class="controls">  
                    <input class="input-small" id="textarea" rows="3"></input>  
                  </div>  
                </div>  

                <div class="form-actions">
                  <button type="submit" class="btn btn-primary">Submit Task</button>
                  <button class="btn">Cancel</button>
                </div>

              </fieldset>
      </form>
      </div>
      <div class='span4'>
        <div class='well'>
          <p>Pilot Status</p>

          <div class='well'>
            <p>Ranger</p>
            <div class="progress">
               <div class="bar" style="width: 100%;"> Ready </div> 
            </div> 
            <button class="btn btn-danger"> Stop Pilot</button>
            </div>

            <div class='well'>
              <p>Lonestar</p>
              <div class="progress">
                 <div class="bar" style="width: 100%;"> Ready</div>
              </div>
              <button class="btn btn-danger"> Stop Pilot</button>

            </div>
          </div>
        <div>
      </div>
    </div>

    </div>
  </div>
</div>

<div class='row'>
      <div class='span7'>
      <form action="" method="post" enctype="multipart/form-data" class="well form-horizontal">
          {% csrf_token %}
          
                <legend>Task-set 2</legend>
                <div class="control-group">  
                  <label class="control-label" for="select01"> Select Tasks</label>  
                  <div class="controls">  
                    <select id="select01">  
                      {% for task in tasks %}
                        <option>{{task}}</option>  
                      {% endfor %}
                    </select>  
                  </div>  
                </div> 

                <div class="control-group">  
                  <label class="control-label" for="select01">Pilot</label>  
                  <div class="controls">  
                    <select id="select01">  
                      <option>Any</option>  
                      <option>Ranger</option>  
                      <option>Lonestar</option>  
                    </select>  
                  </div>  
                </div> 

                <div class="control-group">  
                  <label class="control-label" for="textarea">Num. Of Tasks</label>  
                  <div class="controls">  
                    <input class="input-small" id="textarea" rows="3"></input>  
                  </div>  
                </div>  

               <div class="control-group">  
                  <label class="control-label" for="select01">Dependent</label>  
                   <div class="controls">  
                    <select id="select01">  
                      <option>None</option>  
                      <option>Task Set 1</option>  
                    </select> 
                  </div>
                </div>  

                <div class="form-actions">
                  <button type="submit" class="btn btn-primary">Submit Task</button>
                  <button class="btn">Cancel</button>
                </div>

      </form>
      </div>
</div>


    <a class="btn btn-large btn-success" href="#">Add One More Task</a>



{% endblock%}


