{% extends "base.html" %}

{% block body%}
<ul class="breadcrumb">  
  <li>  
    <a href="#">Job</a> <span class="divider">></span>  
  </li>  
  <li class="active"> Pilots  </li>  
</ul>   

<form action="" method="post" enctype="multipart/form-data" class="well form-horizontal">
    {% csrf_token %}
        <input type='hidden' value='{{job_id}}' name='jobid' id='id_jobid'>
        <fieldset>
          <div class="control-group">
            <label class="control-label" for="title">Job Title</label>
            <div class="controls">
               {{ form.title }}<p class="text-error" >  {{ form.errors.title.0 }}</p>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="id_pilot_1">Resources</label>
            <div class="controls">
              {{field.pilots}}

              {% for k in form.fields.pilots.choices %}
                {% if k.0 %}
                <label class="checkbox">
                  
                  <input type="checkbox" name="pilots" value="{{k.0}}" id="id_pilots_{{k.0|default:0}}" /> {{k.1}}
                  <a class="editconf" href="/job/resource-edit-conf/{{job_id}}/{{k.0}}/" data-toggle="modal" data-target="#editconfModal" checkme='id_pilots_{{k.0|default:0}}' > Edit Conf</a>
                </label>
                {% endif %}
                
                {% endfor %}
                <p class="text-error" >  {{ form.errors.pilots.0 }}</p>
            </label>
            </div>
          </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Next</button>
            <button class="btn">Cancel</button>
          </div>
        </fieldset>
</form>
<div id="editconfModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

{% endblock%}


