{% extends "base.html" %}

{% block body%}
<ul class="breadcrumb">  
  <li>  
    <a href="#">Job</a> <span class="divider">></span>  
  </li>  
  <li class="active"> Pilots  </li>  
</ul>   

<form action="" method="post" enctype="multipart/form-data" class="well form-horizontal">
    {% csrf_token %}
    {% if  form.errors %}
      {% for key, value in form.errors.items %}
      <p> Please correct the following errors</p>
        <p class="text-error" > {{key }} : {{value.0}}</p>
      {% endfor%}
    {% endif %}
        <fieldset>
          <div class="control-group">
            <label class="control-label" for="title">Job Title</label>
            <div class="controls">
               {{ form.title }}
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="id_pilot_1">Resources</label>
            <div class="controls">
              {{form.pilot}}
              {% for k in form.fields.pilot.choices %}
                {% if k.0 %}
                <label class="checkbox">
                  
                  <input type="checkbox" name="pilot" value="{{k.0}}" id="id_pilot_{{k.0|default:0}}" /> {{k.1}}
                  <a class="editconf" href="/job/resource-edit-conf/" data-toggle="modal" data-target="#editconfModal"> Edit Conf</a>
                </label>
                {% endif %}
                {% endfor %}

            </label>
            </div>
          </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Next</button>
            <button class="btn">Cancel</button>
          </div>
        </fieldset>
</form>
<div id="editconfModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

{% endblock%}


