  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Edit Ranger Conf</h3>
  </div>
<form action="/job/resource-edit-conf/" method="post" enctype="multipart/form-data" class="well form-horizontal" id="modal_form">
    {% csrf_token %}
        <fieldset>
          <div class="control-group">
            <label class="control-label" for="input01">Wall Time</label>
            <div class="controls">
              <input type="text" class="input-medium" id="input01" placeholder="100"> Minutes
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="input01">Num. of Cores</label>
            <div class="controls">
              <input type="text" class="input-medium" id="input01" placeholder="16">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="input01">Username</label>
            <div class="controls">
              <input placeholder="smaddi2" class="string optional disabled" disabled="disabled" id="username_disabled_text" name="username[disabled_text]" size="50" type="text">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="input01">Working Directory</label>
            <div class="controls">
              <input type="text" class="input-medium" id="input01" placeholder="/work/smaddi2/dare/">
            </div>
          </div>

          <div class="control-group">  
            <label class="control-label" for="select01">Context</label>  
            <div class="controls">  
              <select class="optional" disabled="disabled" id="select01">  
                <option>default</option>  
                <option>2</option>  
                <option>3</option>  
              </select>  
            </div>  
          </div> 



  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <input class="btn btn-primary" id='save_button' type="submit" value="Save changes" />
  </div>
        </fieldset>

</form>
<script type="text/javascript">
$("#save_button").click(function(event) {
    event.preventDefault();
    $form = $('#modal_form');
    var formdata = $form.serialize();
    $.ajax({ type: "POST", url: $form.attr("action"), data: formdata,});
    $('#editconfModal').modal('hide')

});</script>


