<a href="#allocatePilotModal" role="button" class="btn btn-primary runadd" data-toggle="modal">Allocate</a>
<h3 class='run-h'>  Pilots </h3>  
<table class="table table-condensed table-striped table-hover whitetable">   
    <thead>
        <tr>  
            <th style="width: 5%">#</th> 
            <th style="width: 22%">Name</th>
            <th style="width: 10%">#Cores</th>  
            <th style="width: 10%">Walltime</th>  
            <th style="width: 10%">Status</th>  
            <th style="width: 10%">Actions</th>  

        </tr>
    </thead>
    <tbody> 

      {% for pilot in runpilots %}
        <tr>  
          <td> {{forloop.counter}}</td>
          <td>{{pilot.name}}({{pilot.pk}})</td>  
          <td>
            {% ifequal pilot.pilot_type 'osg'%}  
                NA
            {% else %}
                {{pilot.number_of_processes}}
            {% endifequal %}

          </td>  
          <td>{{pilot.walltime}}</td>  
          <td>{{pilot.status}}</td>  
          <td>
            {% if pilot.get_stop_start %}
                <a href="action-pilot/?type=start&pilot_id={{pilot.id}}" class="btn btn-success btn-mini"> Start</a>
            {% else%}
                <a href="action-pilot/?type=stop&pilot_id={{pilot.id}}" class="btn btn-danger btn-mini"> Cancel</a>
            {% endif%}
                <a href="action-pilot/?type=update&pilot_id={{pilot.id}}" class="btn btn-success btn-mini"> Update Status</a>

          </td>  


        </tr>  
      {% endfor %}
    </tbody>  
</table> 

<!-- Modal -->
<div id="allocatePilotModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Allocate Pilot to this Run</h3>
    </div>
    <form class="form-horizontal" id="allocatePilotForm" method="post" action="add-pilot/">
        <div class="modal-body">
            {% csrf_token %}
            <div class="control-group">
                <label class="control-label" for="inputEmail">Pilot</label>
                <div class="controls">
                    <select name='pilot' id="pilotPopupSelect" multiple="multiple">
                        {% for pilot in defaultpilots %}
                        <option value="{{pilot.id}}" type-pilot='{{pilot.pilot_type}}'
                                {% if forloop.first %} 
                                selected
                                {%endif%}
                                default-cores='{{pilot.cores_per_node}}'>
                                {{pilot.name}}
                        </option>
                        {% endfor%}
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"># of Cores</label>
                <div class="controls">
                <input type="number" id="id_cores" value="8" name="cores" placeholder="10">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPassword">Walltime in Min.</label>
                <div class="controls">
                <input type="number" id="id_walltime" value="10" name="walltime" placeholder="10">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <input class="btn btn-primary" id="runFormSubmit" type="submit" value="Allocate">
        </div>
    </form>
</div>