<a href="#addTaskModal" role="button" class="btn btn-primary runadd" data-toggle="modal" id="btnAddTaskModal">Add Task </a>
<h3 class='run-h'>  Tasks </h3>  
<table class="table table-condensed table-hover2 whitetable">   
    <thead>
      <tr>  
          <th style="width: 5%" >#</th>  
          <th style="width: 20%">Name</th>
          <th style="width: 5%" >#Cores</th>  
          <th style="width: 20%">Data</th>  
          <th style="width: 10%">Status</th>  
          <th style="width: 15%">Pilot</th>  
          <th>Actions</th>  
      </tr>
    </thead>
    <tbody> 
      {% for task in runtasks%}  
          <tr>  
            <td > {{forloop.counter}}</td> 
            <td  > {{task.name}}</td>  
            <td > {{task.get_cores}}</td>  
            <td  >  </td>  
            <td  > {{task.status}}</td>  
            <td  > {{task.dare_bigjob_pilot.name}}({{task.dare_bigjob_pilot.id}})</td>  
            <td>
              {% if task.get_stop_start %}
                  <a href="action-task/?type=start&task_id={{task.id}}" class="btn btn-success btn-mini"> Start</a>
              {% else%}
                  <a href="action-task/?type=stop&task_id={{task.id}}" class="btn btn-danger btn-mini"> Cancel</a>
              {% endif%}
                  <a href="action-task/?type=update&task_id={{task.id}}" class="btn btn-success btn-mini"> Update Status</a>
              </td>
          </tr>   
        {% endfor %}
    </tbody>  
</table> 

<!-- Modal -->
<div id="addTaskModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Add Task to this Run</h3>
    </div>
    <form id="addTaskForm" method="post" action="add-task/">
        <div class="modal-body">
            {% csrf_token %}
            <table>
              <tr>
                  <td class='name'><label class="control-label" for="inputEmail">Name</label></td>
                  <td>
                    {{form.name}}
                  </td>
              </tr>
            <tr>
                  <td class='name'><label class="control-label" for="inputEmail">Pilot</label></td>
                  <td>
                      <select name='pilot'>
                        {% for pilot in runpilots %}
                            <option value="{{pilot.id}}">{{pilot.name}}({{pilot.id}})</option>
                        {% endfor%}
                      </select>
                  </td>
            </tr>
            </table>

            <div class="control-group">
                <label class="control-label" for="inputPassword">Tasks</label>
                <div class="controls">
                      {{form.script}}
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <input class="btn btn-primary" id="runFormSubmit" type="submit" value="Add Task">
        </div>
    </form>
</div>