<div>
  <a href="#addTaskModal" role="button" class="btn btn-primary taskadd pull-right" data-toggle="modal">Add Task</a>
  <h3 class='run-h'>  Tasks </h3>  
</div>
<table class="table table-condensed table-hover2 whitetable">   
    <thead>
      <tr>  
          <th style="width: 5%" >#</th>  
          <th style="width: 20%">Name</th>
          <th style="width: 5%" >#Cores</th>  
          <th style="width: 20%">Data</th>  
          <th style="width: 10%">Status</th>  
          <th style="width: 15%">Pilot</th>  
          <th>Actions</th>  
      </tr>
    </thead>
    <tbody> 
      {% for task in runtasks%}  
          <tr>  
            <td>{{forloop.counter}}</td> 
            <td>{{task.name}}</td>  
            <td>{{task.get_cores}}</td>  
            <td></td>  
            <td>{{task.status}}</td>  
            <td>{{task.dare_bigjob_pilot.name}}({{task.dare_bigjob_pilot.id}})</td>  
            <td>
              {% if task.get_stop_start %}
                  <a href="action-task/?type=start&task_id={{task.id}}" class="btn btn-success btn-mini"> Start</a>
              {% else%}
                  <a href="action-task/?type=stop&task_id={{task.id}}" class="btn btn-danger btn-mini"> Cancel</a>
              {% endif%}
                  <a href="action-task/?type=update&task_id={{task.id}}" class="btn btn-success btn-mini"> Update Status</a>
              </td>
          </tr>   
        {% endfor %}
    </tbody>  
</table> 

<!-- Modal -->
  <div class="modal fade" id="addTaskModal">

    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Add Task to this Run</h4>
        </div>
      
      <form class="form-horizontal" id="addTaskForm" method="post" action="add-task/">
        {% csrf_token %}
        <div class="modal-body">
          <div class="form-group">
            <label for="id_name" class="col-lg-2 control-label">Name</label>
            <div class="col-lg-6">
              <input id="id_name" class="form-control" maxlength="30" name="name" type="text" placeholder="Name">
            </div>
          </div>
          <div class="form-group">
            <label for="id_pilot" class="col-lg-2 control-label">Pilot</label>
            <div class="col-lg-6">
                <select name='pilot' id="id_pilot" class="form-control">
                  {% for pilot in runpilots %}
                      <option value="{{pilot.id}}">{{pilot.name}}({{pilot.id}})</option>
                  {% endfor%}
                </select>
            </div>
          </div>
          <div class="form-group">
            <label for="id_script" class="col-lg-2 control-label">Tasks</label>
            <div class="col-lg-6">
              <input id="id_script" name="script" type="hidden">
              <pre id="id_pre_script">{{ form.script.value }}</pre>
            </div>
          </div>

        </div>

        <div class="modal-footer">
            <button class="btn" data-dismiss="modal">Close</button>
            <button class="btn btn-primary" id="runAddTask">Add Task</button>
        </div>
      </form>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</div>

