<form action="/my-pilots/{% if pid %}?id={{pid}}{% endif%}" method="post" enctype="multipart/form-data" class="well form-horizontal" id="modal_form">


  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Pilot</h3>
    <input class="btn btn-success" id='save_button' type="submit" value="Save" />

  </div>

                <ul class="messages">
                    {% for message in messages %}
                      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
<div>
<p class="text-error">{{form.non_field_errors}}</p>
    {% csrf_token %}  
    <fieldset>
        <div class="control-group">  
            <label class="control-label" for="textarea">Name</label>  
            <div class="controls">  
                {{ form.name }} <p class="text-error" > {{form.errors.name}}</p>
            </div>  
        </div>  

        <div class="control-group">  
            <label class="control-label" for="select01">Pilot Details</label>  
            <div class="controls"> 
                <input type='text' id="id_detail" name="detail" value="{{detail}}">  </input> <p class="text-error" > {{form.errors.detail}}</p>
            </div>
        </div>
    </fieldset>

</form>




    <script>
      var editor = CodeMirror.fromTextArea(document.getElementById("id_detail"), {
        mode: {name: "javascript", json: true},
        lineNumbers: true,
        indentUnit: 4,
        tabMode: "shift",
        autofocus: true,
        matchBrackets: true,
      });

      setTimeout(function(){editor.refresh();}, 500);

      var formatted_json = jsl.format.formatJson(editor.getValue());
      editor.setValue(formatted_json);  


    $(".close_button").click(function(event) {
        event.preventDefault();
        $('#pilotModal').modal('hide');
        location.reload();

    });


     $('#modal_form').live('submit', function() {
          //event.preventDefault();
            var target = document.getElementById('spinner');
            var spinner = new Spinner(opts).spin(target);
            $("#id_script").val(editor.getValue());
            $.ajax({ 
                type: $(this).attr('method'), 
                url: this.action, 
                data: $(this).serialize(),
                context: this,
                success: function(data, status) {$('#pilotModal').html(data);  spinner.stop()}
            });
          $('#pilotModal').modal('hide');
          location.reload();

            return false;
        });

    </script>
</div>
