
<!DOCTYPE html>
<html lang="en">
  <head>
  
    <meta charset="utf-8">
    <title>DARE-BIGJOB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">
  
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">DARE-BIGJOB</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href='/static/about'>About</a></li>

              <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">Account Management<b class="caret"></b></a>
                <ul class="dropdown-menu">
            <li ><a title='Pipeline'  href='/accounts/resources/' > Resources</a></li>
            <li ><a title='Pipeline'  href='/accounts/contexts/' > Contexts</a></li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">Job Submission<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li ><a title='Pipeline'  href='/create-job' >BigJob</a></li>
                    <li><a href='/view-job-list'>Job Table View</a></li>
                </ul>
              </li>
              <li><a href='/static/software'>Software</a></li>
              <li><a href='/static/contact'>Contact</a></li>
            </ul>

            <div class="navbar-form pull-right">
    {% if request.user.is_authenticated %}

     Hello  {{request.user.get_full_name|title}}  <a href='/logout'>Logout</a><br/>
{{social_auth.associated }}
    {% else %}
    Login:

    {% comment %}
    <a href='/accounts/login/'>Login</a> | <a href='/accounts/register/'>Register </a>
    {% endcomment %}

    <a href="{% url socialauth_begin 'yahoo' %}?{{ redirect_querystring }}"> Yahoo </a>|
    <a href="{% url socialauth_begin 'google-oauth2' %}?{{ redirect_querystring }}"> Google</a>
    <br/><a href="{% url request_invite %}">  Request Invite</a>
    
    {% endif %}
            </div>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
                          {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                {% block body %}
                {% endblock %}
          
                {% block content %}
                {% endblock %}

      </div>

      <!-- Example row of columns -->
      <hr>

      <footer>
        <p>&copy; DARE 2010-2012</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type='text/javascript' src='/assets/js/jquery-1.8.3.js'></script>
    <script type='text/javascript' src='/assets/js/jquery-ui.js'></script>
    <script src="/assets/js/bootstrap.js"></script>

  </body>
</html>