<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel">Edit Ranger Conf</h3>
</div>
<form action="/job/pilot_popup/{{job_id}}/{{pilot}}/" method="post" enctype="multipart/form-data" class="well form-horizontal" id="modal_form">
    {% csrf_token %}
        <fieldset>
          <div class="control-group">
            <label class="control-label" for="input01">Wall Time</label>
            <div class="controls">
              {{ form.walltime }} Minutes
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="input01">Num. of Cores</label>
            <div class="controls">
              {{ form.num_of_cores }}
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="input01">Working Directory</label>
            <div class="controls">
              {{ form.working_directory }}
            </div>
          </div>

          <div class="control-group">  
            <label class="control-label" for="select01">Context</label>  
            <div class="controls">  
              <select class="optional" disabled="disabled" id="select01">  
                <option>default</option>  
                <option>2</option>  
                <option>3</option>  
              </select>  
            </div>  
          </div> 


      </fieldset>
  <div class="modal-footer">
    <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <input class="btn btn-success" id='save_button' type="submit" value="Save" />
    <input class="btn btn-success" id='save_button' type="submit" value="Save as New" />
  </div>
        

</form>
<script type="text/javascript">
$("#save_button").click(function(event) {
    event.preventDefault();

    //$.ajax({ type: "POST", url: $form.attr("action"), data: formdata,});
    $('#editconfModal').modal('hide')

});
</script>


