<table class="table well">   
    <tbody> 
      {% for pilot in pilotform.fields.pilots.choices %}
        <tr>  
          <td>{{pilot.1|title}}</td>  
          <td>
              <a class="btn btn-info" id="editconf" href="/job/pilot_popup/{{job_id}}/{{pilot.0}}/" data-toggle="modal" data-target="#editconfModal" checkme='id_pilots_{{k.0|default:0}}' > Edit Conf</a>
          </td>  
          <td> <a class="btn btn-success" > Start Pilot</a> </td>  
          <td>            <div class="progress">
               <div class="bar" style="width: 100%;"> New </div> 
            </div> 
          </td>  

        </tr>  
      {% endfor %}
    </tbody>  
</table> 


<div id="editconfModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>

