/* ________________________________________________________________________________________________________________
	                                              01. GLOBAL STRUCTURE 
   ________________________________________________________________________________________________________________ */
body{background:url(../img/backgrou.jpg) repeat-x center top #8A977B;}
#body_block {background:url(../img/body_blo.png) repeat-y scroll center top transparent;}
#header{background:url(../img/menu0000.png) no-repeat scroll center bottom transparent;}
.footer_background{background:url(../img/footer_background.png) repeat-y scroll center top transparent;}
#footer{background: url(../img/footer00.png) no-repeat scroll center bottom transparent;}
.footer_trim  {background:url(../img/opacity_.png) repeat-x scroll 0 10% transparent;}
.partial_gradient_slide{background: url(../img/gradient_slide.jpg) 0px 0px no-repeat;}


.social_header_background,#social_header{
}

/* ________________________________________________________________________________________________________________
	                                              02. TYPOGRAPHY 
   ________________________________________________________________________________________________________________ */

/* ------- Links ------- */
p a, a:hover, .webtreats_subnav_widget li.current_page_item a, .commentmetadata a, .blog_meta a,
.contact_widget_email,.fancy_link,.download_link,.email_link,.toggle
{color:#A3B094;}

/* ------- Misc ------- */
blockquote, .bullet_list, h5, .rss-date, .date, .awaiting_moderation, .dropcap4{color:#A3B094;}
.inputError{border-color:#A3B094 !important;}
.fancy_header span{background-color:#A3B094;}

/* ------- Footer ------- */
#footer{color:#eee;}
#footer a{color:#ddd;}
#footer a:hover{color:#fff;}
.footer_widgettitle,.partial_gradient_slide .slider_content,.partial_gradient_slide h2{color:#fff;}

/* ------- Buttons ------- */
input[type=button],input[type=reset],input[type=submit],.fancy_button, .fancy_button span,
.button_link,.button_link span, h6.color_scheme_box_header, h6.color_scheme_box_header span{
	background-image:url(../img/button_s.png);
	text-shadow:0 -1px 0 #ccc, 0 1px 0 #F2F2F2;
	color:#A3B094;}

#footer input[type="text"], #footer input[type="password"], #footer textarea  {
	background:url(../img/opacity_.png) repeat-x scroll 0 10% transparent;}
#sub_footer , #sub_footer  a {color:#eee;}
/* ________________________________________________________________________________________________________________
	                                              03. ICONS 
   ________________________________________________________________________________________________________________ */

.dropcap1,.dropcap3,blockquote{background-image: url(../img/sprite.png);}
ul.arrow_list li,ul.check_list li,ul.star_list li,ul.colored_bullet_list li,a.download_link,a.email_link{background-image: url(../img/mini_icons.png);}
.toggle,.active,.toggle_frame .toggle,.toggle_frame .active{background-image: url(../img/toggle_sprite.png);}
a.fancy_link{background-image: url(../img/fancy_link.png)}
#body_block .widget_recent_comments ul li.recentcomments span,
#body_block .webtreats_twitter_widget ul li,
#body_block .contact_widget_name,
#body_block .contact_widget_phone,
#body_block .contact_widget_email{background-image: url(../img/mini_icons.png);}
.widget_recent_comments ul li.recentcomments span {background-image: url(../img/mini_icons_footer.png);}

.star_list, .check_list, .arrow_list {color:#888;}
#menu_search{background-image:url(../img/search.png);}

/* ________________________________________________________________________________________________________________
	                                              04. MENU 
   ________________________________________________________________________________________________________________ */

.jqueryslidemenu ul li a, .jqueryslidemenu ul li a:link, .jqueryslidemenu ul li a:visited 
{
	line-height:60px;
	color:#000;
	text-shadow:0 1px 1px #fff;
}
.jqueryslidemenu ul li a:hover, .jqueryslidemenu .current_page_parent, .jqueryslidemenu .current_page_item, .jqueryslidemenu ul li:hover a
{background: url(../img/menu_hov.png) no-repeat scroll center -5px transparent;}
