{% extends "base.html" %}

{% block body%}
    <H2 align="justify"><br />
      <font color='#00007A'> DARE-BIGJOB </font> <br />
      <span class="twoColHybRtHdr">
      </H2>
<p>
DARE-BIGJOB is a Gateway for BigJob based applications which builds upon the Dynamic Application Runtime-Environment (DARE) Framework.
</p>

<p>
At the moment, there are no general-purpose community accounts, and it requires registrations contacting us before using services. 
For more information, contact us. For information about SAGA and SAGA-Bigjob, please visit this link
<a href="http://saga-project.org/">link</a></font>
</p>

    <table width="725" border="0">
      <tr>
        <td width="332"><img src="/assets/img/DAREOutilne.png" width="500" height="420" alt="DARE" /></td>
      </tr>
      <tr>
        <td><span style=" font-size:11px">Dynamic Application Runtime Environment(DARE)</span></td>
      </tr>
    </table>



{% endblock%}
 
