{% extends "base.html" %}

{% block body%}

    <p> 
        This project is being developed by Cyber-Infrastructure Develop (CyD) Group at Center for Computational Technology(CCT)
    </p>
 
    <p>
    <b>Project Lead:</b> Dr. Shantenu Jha (<a href="mailto:sjha@cct.lsu.edu">sjha@cct.lsu.edu</a>)
    </p>


<p>
<b>Team:</b>
    Steve Brandt (<a href="mailto:sbrandt@cct.lsu.edu">sbrandt@cct.lsu.edu</a>),
    Ole  Weidner (<a href="mailto:oweidner@cct.lsu.edu">oweidner@cct.lsu.edu</a>),
    Sharath Maddineni (<a href="mailto:smaddineni@cct.lsu.edu">sharath.maddineni@gmail.com</a>)
</p>
<p>
<b>Funding:</b> <a href='https://sites.google.com/site/extenci/' >ExTENCI</a>
</p>


{% endblock%}
 
