{% extends "base.html" %}

{% block body%}
    <H2 align="justify"><br />
      <font color='#00007A'> DARE-BIGJOB </font> <br />
      <span class="twoColHybRtHdr">
      </H2>
    <p class="lead">DARE-BIGJOB is a Gateway for BigJob based applications which builds upon the Distributed Application Runtime-Environment (DARE) Framework.</p>
    <p class="lead">
    At the moment, there are no general-purpose community accounts, and it requires registrations contacting us before using services. For more information, contact us. For information about SAGA and SAGA-Bigjob, please visit this
    <a href="http://saga-project.org/">Link</a></font>
    </p>
    
    <p><br class="clearfloat" />
    </p>
{% if not request.user.is_authenticated %}
    <a class="btn btn-large btn-success" href="/invite/request/">Sign up today</a>
{% endif %}
{% endblock%}
 
