django==1.5.1
django-chunks
django-storages
south==0.7.6
django-social-auth
git+https://github.com/bradleyayers/django-tables2.git#egg=django-tables2
django-extensions

#dare
git+https://github.com/saga-project/BigJob.git#egg=BigJob
bliss

#removed as we are not using DARE-commandline
#dare

#for celery
celery
django-celery
celery-with-redis
#celerymon
redis==2.7.2


#test
#django-grappelli
#django-tinymce

django-picklefield

git+https://github.com/jezdez/django_compressor.git#egg=django_compressor

RestrictedPython

git+git://github.com/dcramer/django-devserver#egg=django-devserver
